html {
  font-family: Georgia, serif; }

body {
  background: #f2f2f2; }

body, html {
  height: 100%; }

.wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: 1000px; }

ul {
  list-style: none;
  margin: 0;
  padding: 0; }

h1, h2, h3, h4 {
  text-transform: uppercase;
  font-weight: 100;
  margin: 0; }

a {
  text-decoration: none; }
  a.red-link {
    text-transform: uppercase;
    font-size: 14px;
    color: #ffffff;
    background: #d54346;
    padding: 10px;
    border-radius: 8px; }
    a.red-link:hover {
      background: #9d4143;
      color: #fff2f2; }
  a.big-red-link {
    font-size: 16px; }

p {
  margin: 0; }

div#header {
  background: #232425; }

header {
  position: relative;
  top: 0;
  height: 120px; }
  @media (max-width: 800px) {
    header {
      height: auto;
      text-align: center; } }
  header a {
    color: #999999; }
  header h1 {
    position: absolute;
    margin-left: 30px;
    margin-top: 30px;
    font-size: 25px; }
    @media (max-width: 800px) {
      header h1 {
        position: relative;
        margin: 0 auto;
        width: 100%;
        background: #1e1e1e; } }
    header h1 span {
      font-size: 35px; }
  header nav {
    float: right; }
    @media (max-width: 800px) {
      header nav {
        float: none; } }
    header nav ul {
      height: 100%;
      min-width: 480px; }
      header nav ul li {
        display: inline-block;
        width: 80px;
        padding: 53px 0;
        margin-right: 20px;
        text-transform: uppercase;
        text-align: center;
        font-size: 12px;
        font-weight: 100; }
        header nav ul li:hover, header nav ul li.active-page {
          background: #e2494b; }
          header nav ul li:hover a, header nav ul li.active-page a {
            color: #ffffff; }
        @media (max-width: 1024px) {
          header nav ul li {
            margin-right: 0; } }
        @media (max-width: 800px) {
          header nav ul li {
            padding: 20px; } }

#slider {
  background: #1e1e1e;
  position: relative;
  height: 550px;
  min-width: 480px; }
  #slider h2 {
    font-size: 50px;
    color: #666666;
    margin-bottom: 20px; }
  #slider p {
    font-size: 16px;
    color: #999999;
    line-height: 25px;
    margin-bottom: 30px; }
  @media (max-width: 800px) {
    #slider {
      height: 400px; } }

#slideshow {
  position: relative;
  margin: 0 auto; }

#slideshow > div {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; }

#slideshow div div.slider-images {
  float: right; }
#slideshow div div.slider-text {
  float: left;
  max-width: 33%;
  margin: 100px 60px 0 30px; }
#slideshow div div.monitor {
  background: url("../images/smonitor.png") no-repeat;
  width: 425px;
  height: 341px;
  position: absolute;
  right: 80px;
  top: 40px;
  z-index: 100; }
  #slideshow div div.monitor img {
    margin: 19px 19px; }
#slideshow div div.phone {
  background: url("../images/sphone.png") no-repeat;
  width: 105px;
  height: 199px;
  position: absolute;
  right: 450px;
  top: 170px;
  z-index: 300; }
  #slideshow div div.phone img {
    margin: 30px 8px; }
#slideshow div div.tablet {
  background: url("../images/stablet.png") no-repeat;
  width: 192px;
  height: 253px;
  position: absolute;
  right: 20px;
  top: 180px;
  z-index: 200; }
  #slideshow div div.tablet img {
    margin: 24px 22px; }

@media (max-width: 1024px) {
  #slideshow div div.monitor {
    right: 50px; }
  #slideshow div div.phone {
    right: 400px; }
  #slideshow div div.tablet {
    right: 30px; } }
@media (max-width: 920px) {
  #slideshow div div.monitor {
    right: 20px; }
  #slideshow div div.phone {
    right: 350px; }
  #slideshow div div.tablet {
    right: 5px; } }
@media (max-width: 800px) {
  #slideshow div div.monitor, #slideshow div div.phone, #slideshow div div.tablet {
    display: none; }
  #slideshow div div.slider-text {
    float: none;
    max-width: 100%;
    margin: 30px;
    text-align: center; }
    #slideshow div div.slider-text p {
      text-align: start;
      font-size: 20px;
      line-height: 30px; } }
content {
  overflow: hidden;
  display: block; }

span.news-title {
  color: #e1484b; }

div#top-news {
  border-top: 10px solid #ffffff; }

ul.top-news-list {
  margin: 50px auto;
  text-align: center; }
  ul.top-news-list li {
    display: inline-block;
    width: 225px;
    margin: 0 10px;
    text-align: center; }
    ul.top-news-list li p {
      font-size: 14px;
      color: #9b9b9f;
      margin: 10px 0 30px 0;
      line-height: 20px; }
    ul.top-news-list li h3 {
      padding: 20px 0;
      color: #4a4a4a; }

div#middle-news .wrapper {
  border-top: 1px solid #dadadc; }

ul.middle-news-list {
  margin: 50px auto;
  text-align: center; }
  ul.middle-news-list li {
    display: inline-block;
    overflow: hidden;
    width: 480px; }
    ul.middle-news-list li img {
      float: left;
      margin-right: 15px; }
    ul.middle-news-list li p {
      font-size: 14px;
      color: #9b9b9f;
      margin-top: 0;
      text-align: start;
      line-height: 20px; }
    ul.middle-news-list li h3 {
      margin-bottom: 20px;
      text-align: start; }
    ul.middle-news-list li a {
      display: block;
      float: left;
      margin-top: 15px; }

div#info {
  border-top: 15px solid #dadadc; }
  div#info .wrapper {
    border-bottom: 1px solid #dadadc; }

ul.info-blocks {
  margin: 30px auto;
  text-align: center; }
  ul.info-blocks > li {
    padding-top: 25px; }
  ul.info-blocks li {
    display: inline-block;
    overflow: hidden;
    width: 225px;
    margin: 0 10px;
    text-align: start;
    vertical-align: top; }
    ul.info-blocks li p, ul.info-blocks li h4, ul.info-blocks li a {
      font-size: 14px; }
    ul.info-blocks li p, ul.info-blocks li h4 {
      color: #9b9b9f;
      line-height: 20px; }
    ul.info-blocks li p {
      margin-bottom: 10px; }
    ul.info-blocks li h4 {
      margin-bottom: 15px; }
    ul.info-blocks li a {
      color: #d54346; }
      ul.info-blocks li a:hover {
        text-decoration: underline;
        color: #9d4143; }
      ul.info-blocks li a.small-red-link {
        float: right; }
    ul.info-blocks li img {
      margin-bottom: 10px;
      padding: 4px;
      border: 1px solid #dddddd; }

ul.quick-links-list li {
  padding: 0 0 5px 0;
  border-bottom: 1px solid #d4d4d4; }
  ul.quick-links-list li span {
    color: #989898;
    font-size: 14px;
    margin-right: 10px; }
  ul.quick-links-list li a:visited {
    color: #9d4143; }

ul.blog-posts-list li {
  margin: 10px 0; }
  ul.blog-posts-list li h5 {
    margin: 0;
    font-size: 16px;
    font-weight: bold;
    color: #d44346;
    margin-bottom: -10px; }
  ul.blog-posts-list li span.blog-post-date {
    font-size: 10px;
    color: #999999; }
  ul.blog-posts-list li p {
    margin-top: 10px;
    line-height: 14px; }

ul.contact-us li {
  margin-top: 10px; }
  ul.contact-us li.red-submit-button {
    margin-top: 5px; }
  ul.contact-us li input {
    background: #1e1e1e;
    border: 0px solid;
    border-radius: 5px;
    width: 200px;
    font-size: 14px;
    color: #989898;
    padding: 7px; }
    ul.contact-us li input::-webkit-input-placeholder {
      color: #989898; }
  ul.contact-us li textarea {
    height: 100px;
    resize: none;
    overflow: auto;
    background: #1e1e1e;
    border: 0px solid;
    border-radius: 5px;
    width: 200px;
    font-size: 14px;
    color: #989898;
    padding: 7px 7px 0 7px; }
    ul.contact-us li textarea::-webkit-input-placeholder {
      color: #989898; }
  ul.contact-us li .button {
    display: block;
    width: 80px;
    text-transform: uppercase;
    font-weight: 500;
    color: #ffffff;
    background: #d54346;
    padding: 9px; }

div#footer .wrapper {
  border-top: 1px solid #ffffff; }

footer {
  padding: 20px 0; }
  @media (max-width: 1024px) {
    footer {
      padding: 20px; } }
  footer span, footer a {
    font-size: 14px;
    color: #9b9b9f; }
    footer span a:hover, footer a a:hover {
      text-decoration: underline;
      color: #232425; }

/*# sourceMappingURL=style.css.map */
